<section>

    <div class="user-information">
        <div class="user-image" style="background-color: var(--primary-color);">
            <i class="pi pi-user"></i>
        </div>
        <span class="user-name" >{{userName}}</span>
    </div>

    <ul class="options-list">
        <li class="opt" [routerLink]="['/dashboard/user']" (click)="closeSideBar()">
            <i class="pi pi-users"></i>
            <span>Profile</span>
        </li>
        <li class="opt" (click)="logout()">
            <i class="pi pi-times"></i>
            <span>Salir</span>
        </li>
    </ul>

    <!-- Overlay -->
    <p-confirmDialog [style]="{width: '350px'}"></p-confirmDialog>



</section>