<section>

    <div class="user-information">
        <div class="user-image" style="background-color: var(--primary-color);">
            @if(userData.profilePhoto != null) {
                <img src="{{userData.profilePhoto}}" alt="Profile image">
            } @else {
                <i class="pi pi-user"></i>
            }
        </div>
        <span class="user-name" >{{userData.user_name}}</span>
    </div>

    <ul class="options-list">
        <li class="opt" [routerLink]="['/dashboard/user']" (click)="closeSideBar()">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </li>
        <li class="opt" [routerLink]="['/dashboard/user/users-manager']" (click)="closeSideBar()">
            <i class="pi pi-users"></i>
            <span>Users manager</span>
        </li>
        <li class="opt" [routerLink]="['/dashboard/user/sesion-manager']" (click)="closeSideBar()">
            <i class="pi pi-cog"></i>
            <span>Sesion manager</span>
        </li>
        <li class="opt" (click)="logout()">
            <i class="pi pi-times"></i>
            <span>Salir</span>
        </li>
    </ul>

    <!-- Overlay -->
    <p-confirmDialog [style]="{width: '350px'}"></p-confirmDialog>



</section>